{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Page{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">Django Authentication</span>
        {% if request.user.is_authenticated %}
        <ul class='menu'>
            <li {% if section == 'dashboard' %} class="selected"{% endif %}>
                <a href="{% url 'dashboard' %}">My Dashboard</a>
            </li>
            <li>
                <!-- Logout form -->
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="submit" value="Log out">
                </form>
            </li>
        </ul>
        {% else %}
        <ul class='menu'>
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
        </ul>
        {% endif %}
    </div>
    <div id='content'>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
